header{
    padding-left: 25px;
    background-color: #264653;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header *{
    display: inline;
}

header li{
    margin: 20px
}

header a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #f4a261;
}

header a:hover{
    /* font-size: 1.2rem;
    font-weight: 700; */
    color:#e76f51
}

.logo{
    width: 100px;
}